@font-face {
    font-family: Western;
    src: url('../images/western.woff');
}

.arrow {
    -fx-shape: "M0,0 L0,6 L9,3 Z";
    -fx-background-color: red;
}

.button:hover {
    -fx-background-color: green;
    -fx-scale-y: 1.1;
}

.offCardRoles:hover {
    -fx-background-color: blue;
}

.western {
    -fx-font-family: 'Western';
    -fx-text-align: center;
}