
.upArrow {

}

.downArrow {

}

.leftArrow {
  -fx-width: 0;
  -fx-height: 0;

  -fx-border-top-width: 10px;
  -fx-border-top-style: solid transparent;

  -fx-border-bottom-width: 10px;
  -fx-border-bottom-style: solid transparent;

  -fx-border-right-width: 10px;
  -fx-border-right-style: solid;
  -fx-border-right-color: blue;
}

.rightArrow {
    -fx-shape: "M150 0 L75 200 L225 200 Z";
    -fx-background-color: red;
}
